build/
build-*/
out/
cmake-build-*/

CMakeUserPresets.json
compile_commands.json
CMakeCache.txt
CMakeFiles/

.vs/
.idea/
.vscode/*
.vscode/settings.json

.DS_Store
Thumbs.db

*.vst3
*.component
*.app
*.exe
